services:
  # --- 1. Bases de Datos ---
  auth-db:
    image: mysql:8.0
    container_name: auth-db
    environment:
      MYSQL_ROOT_PASSWORD: ${AUTH_DB_ROOT_PASSWORD} 
      MYSQL_DATABASE: auth_transafe
    ports:
      - "3308:3306"
    volumes:
      - auth-db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${AUTH_DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  trans-db:
    image: mysql:8.0
    container_name: trans-db
    environment:
      MYSQL_ROOT_PASSWORD: ${TRANS_DB_ROOT_PASSWORD}
      MYSQL_DATABASE: transaccion_transafe
    ports:
      - "3307:3306"
    volumes:
      - trans-db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${TRANS_DB_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- 2. Broker de Mensajería ---
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  # --- 3. Microservicios de Backend ---
  auth_service:
    build:
      context: ./backend/services/auth
      dockerfile: DockerFile
    container_name: auth_service
    env_file: ./backend/services/auth/.env
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - AUTH_DB_ROOT_PASSWORD=${AUTH_DB_ROOT_PASSWORD}
    ports:
      - "8000:8000"
    depends_on:
      auth-db:
        condition: service_healthy

  transactions_service:
    build:
      context: ./backend/services/transacciones
      dockerfile: DockerFile
    container_name: transactions_service
    env_file: ./backend/services/transacciones/.env
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - TRANS_DB_ROOT_PASSWORD=${TRANS_DB_ROOT_PASSWORD}
    ports:
      - "8001:8001"
    volumes:
      - ./backend/services/transacciones:/app
    depends_on:
      trans-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  fraud_service:
    build:
      context: ./backend/services/fraud_service
      dockerfile: DockerFile
    container_name: fraud_service
    env_file: ./backend/services/fraud_service/.env
    volumes:
      - ./backend/services/fraud_service:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
      transactions_service:
        condition: service_started

# --- Volúmenes ---
volumes:
  auth-db-data:
  trans-db-data: